.inline {
    display: inline-block;
    margin: 10px 0;
}

.nav-line {
    clear: both;
    width: 450px;
    border: 1px solid #efefef;
    position: relative;
    top: 58px;
    margin: 0 auto;
}

.theader {
    width: 120px;
    color: #282828;
    padding-left: 20px;
}

.outer {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
}
